<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # RewriteBase /

    # Redirect to https
    #RewriteCond %{HTTPS} !=on
    #RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>